~*
*.asv
bin/TreeCmp
bin/eSTGt
__pycache__
analysis/tmc/seed-*
analysis/tmc-nj-scipylnk
analysis/many-seeds/seed-*
analysis/many-seeds/template
analysis/many-seeds/tmc-nj-scipylnk
*.stderr
*.stdout
sge-job-info.txt
/.project
